h1 {
    font-size: 4rem;
}

section {
    font-size: 2rem;
    position: relative;
}

section, .about, .cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects, #skills {
    flex-direction: column;
    gap: 4rem;
}

.about {
    display: flex;
    height: 40dvh;
    gap: 10rem;

    img {
        height: 100%;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
}

.magnetic-techno {
    height: 10dvw;
    width: 10dvw;
}

.technos-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#contact {
    height: calc(100dvh - 4rem);
    flex-direction: column;
    justify-content: space-evenly;
    padding: 4rem;
}

.contact-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.contact-icon {
    height: 20dvw;
    width: 20dvw;
}


@media screen and (max-width: 1450px) {
    .about {
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .magnetic-techno {
        height: 15dvw;
        width: 15dvw;
    }
}


@media screen and (max-width: 1250px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .about-photo {
        display: none;
    }

    .magnetic-techno {
        height: 20dvw;
        width: 20dvw;
    }
}

@media screen and (max-width: 650px) {
 
    #contact {
     padding: 4rem;
    }
}


