h1 {
    font-size: 4rem;
}

section {
    font-size: 2rem;
    position: relative;
}

section, .about, .cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    height: 40dvh;
    gap: 10rem;

    img {
        height: 100%;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
}