<app-navbar />
<section id="about" class="full-screen">
    <div class="about">
        <img src="../../../assets/cyprien-jaquier.png">

        <div>
            <h1><b class="text-shining">Full stack</b> developer</h1>
            <p>From concept to execution,<br>I'm one of those magician weaving digital dreams into reality.</p>
        </div>
    </div>    
    
    <app-scroll-button [targetID]="'projects'" />
</section>


<section id="projects" class="full-screen">
    <h2>Here are three projects I'm proud of.</h2>

    <div class="cards">
        <app-three-d-card />
        <app-three-d-card />
        <app-three-d-card />
    </div>       
    
    <app-scroll-button [targetID]="'skills'" />
</section>

<section id="skills" class="full-screen">
    <h2>Here are some of my favorites technos.</h2>

    <div class="technos-container">
        <div class="magnetic-techno">
            <app-magnetic-circle/>
        </div>       
        <div class="magnetic-techno">
            <app-magnetic-circle/>
        </div>       
        <div class="magnetic-techno">
            <app-magnetic-circle/>
        </div>       
        <div class="magnetic-techno">
            <app-magnetic-circle/>
        </div>       
    </div>
    <div class="technos-container">
        <div class="magnetic-techno">
            <app-magnetic-circle/>
        </div>       
        <div class="magnetic-techno">
            <app-magnetic-circle/>
        </div>       
        <div class="magnetic-techno">
            <app-magnetic-circle/>
        </div>      
    </div>
</section>
