<app-navbar />
<section id="about" class="full-screen">
    <div class="about">
        <img src="../../../assets/cyprien-jaquier.png">

        <div>
            <h1><b class="text-shining">Full stack</b> developer</h1>
            <p>From concept to execution,<br>I'm one of those magician weaving digital dreams into reality.</p>
        </div>
    </div>    
    
    <app-scroll-button [targetID]="'projects'" />
</section>


<section id="projects" class="full-screen">
    <div class="cards">
        <app-three-d-card />
        <app-three-d-card />
        <app-three-d-card />
    </div>        
</section>

