h1 {
    font-size: 4rem;
}

section {
    font-size: 2rem;
    position: relative;
}

section, .about, .cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects, #skills {
    flex-direction: column;
    gap: 4rem;
}

.about {
    height: 40dvh;
    gap: 10rem;

    img {
        height: 100%;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
}

.magnetic-techno {
    height: 10rem;
    width: 10rem;
}

.technos-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#contact {
    height: calc(100dvh - 4rem);
    flex-direction: column;
    justify-content: space-evenly;
}

.contact-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.contact-icon {
    height: 20dvw;
    width: 20dvw;
}
