.bordered-circle {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
    }

    &::after {
        content: "";
        z-index: -1;
        position: absolute;
        background: var(--color-gradient);
        filter: blur(1rem);
        transition: scale 300ms;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        animation: rotate 5s linear infinite;
    }

    &:hover {
        &::after {
            scale: 1.1;
        }
    }
}

@keyframes rotate {
    to {
        rotate: 1turn;
    }
}