nav {
    position: fixed;
    z-index: 100;
    width: 100dvw;
    height: 10dvh;
    background: var(--color-dark);
    border-bottom: 10px solid;
    border-image-slice: 1;
    border-image-source: var(--color-gradient);
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        padding-left: 3rem;
    }
}

#navigation-section {
    list-style-type: none;
    display: flex;
    gap: 6dvw;
    padding-right: 6rem;

    a {
        color: white;
        text-decoration: none;
        padding: 1rem;
        cursor: pointer;
        transition: all 200ms;

        &:hover {
            color: var(--color-secondary);
        }
    }
}

@media screen and (max-width: 900px) {
    #navigation-section{
        display: none;
    }
}