.card-container {
  --card-size: 20rem;
}

.card-container {
  perspective: calc(var(--card-size) *2.5);
  transition: all 100ms linear;

  &:hover {
    z-index: 10;

    .card {
      scale: 1.1;
    }

    .light {
      opacity: 0.8;
    }
  }
}

.light, .project-details, .project-preview {
  pointer-events: none;
}

.card {
  position: relative;
  height: calc(var(--card-size) * 1.4);
  width: var(--card-size);
  background: #333;
  border-radius: calc(var(--card-size) * 0.06);
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 100ms linear;
}

.light {
  position: absolute;
  height: 200%;
  width: 1000%;
  opacity: 0;
  background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(142,142,142,0.2) 35%, rgba(255,255,255,0.5) 50%, rgba(142,142,142,0.2) 65%, rgba(0,0,0,0.8) 100%);
}

.project-details {
  flex: 1;
  display: flex;
  width: calc(100% - 1rem);
  flex-direction: column;
  overflow: hidden;
}

.project-preview {
  width: 100%;
  height: calc(var(--card-size) * (9 / 16));
  object-fit: cover;
}

.project-labels {
  height: 2rem;
  width: 100%;
}

.project-title,
.project-description {
  margin: 0
}

.project-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.project-description {
  font-size: 1rem;
  flex: 1;
  padding: 1rem 0;
  text-align: justify;
  text-justify: inter-word;
}