<div (mousemove)="changePerspective($event)" class="card-container">
    <div class="card">
        <div class="light"></div>
        <img class="project-preview" src="" />
        <div class="project-details">
            <span class="project-labels"></span>
            <h5 class="project-title">Title of the project</h5>
            <p class="project-description">
                Le Lorem Ipsum est simplement du faux texte employé dans la composition
                et la mise en page avant impression. Le Lorem Ipsum est le faux texte
                standard de l'imprimerie depuis les années 1500.
            </p>
        </div>
    </div>
</div>
