<div
  (mousemove)="changePerspective($event)"
  (mouseenter)="focusCard()"
  (mouseleave)="blurCard($event)"
  class="card-container"
>
  <div class="card">
    <div class="light"></div>
    <img class="project-preview" src="{{imgSrc}}" />
    <div class="project-details">
      <ul class="project-labels">
        <li class="project-label" *ngFor="let label of labels">{{label}}</li>        
      </ul>
      <h5 class="project-title">{{title}}</h5>
      <p class="project-description">{{description}}</p>
    </div>
  </div>
</div>
