@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');

@import "tailwindcss";
@theme {
  --font-rubik: "Rubik Mono One", monospace;
  --font-ledger: "Ledger", serif;
}

@layer utilities {
   .pause {
     animation-play-state: paused !important;
   }
}