@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Pirata+One&display=swap');
@import "tailwindcss";

@theme {
  --color-custom-blue-dark: #020b4c;
  --color-custom-blue-mid: #0835c8;
  --color-custom-blue-light: #19b6fc;

  --font-custom-code: "Cascadia Code", sans-serif;
  --font-custom-pirata: "Pirata One", system-ui;
}

.bg-noise {
  @apply bg-[url('/noise.webp')] bg-[length:10rem];
}

.overlay {
  @apply absolute inset-0 mix-blend-overlay pointer-events-none;
}

.bg-slider {
  @apply relative overflow-hidden after:absolute after:top-0 after:-left-full after:h-full after:w-full after:bg-white after:-z-10 after:transition-all after:duration-500 hover:after:left-0;
}

nav {
  @apply border-white;
}

#cursor {
  transition: width .65s, height .65s;
}